/* DEBUG, not used.
.wt-rmv {
	outline: 2px solid lime !important;
}

.to-rmv {
	outline: 2px solid red !important;
}
*/

.umsg-suggestags-input[placeholder]:empty:before {
        content: attr(placeholder);
        white-space: nowrap;
        font-weight: normal;
        /* font-style: italic; */
        color: #6c757d; /* bootstrap color placeholders */

        /* avoid placeholder overflow */
	overflow: hidden;
	position: absolute;
	left: .65rem;
	right: .65rem;
	/* next to vertically align the placeholder */
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
}

.umsg-suggestags-input-area {
	position: relative; /* avoid placeholder overflow */
}

/* Attempt to reproduce standard style of input control in Chrome browser, 2021. */
.umsg-suggestags-area {
        width: 100%; /* AK: I just want it. Use wrapper container if you don't need 100% width. */
        overflow-x: hidden; /* keep it inside of the dialog boxes */

	outline: 1px solid #4f4f4f;
	border-radius: 3px;
}

.umsg-suggestags-area:focus-within {
	outline-width: 2px;
}

/* Bootstrap4 style */
.form-input-custom + .umsg-suggestags-area, /* bs3 */
.form-control + .umsg-suggestags-area {
        /* discard styles for unstyled control */
	outline: none;
	border-radius: 0;
}

/*.form-input-custom + .umsg-suggestags-area:focus-within, not exiss in bs3 */
.form-control + .umsg-suggestags-area:focus-within { /* style outer div on focus of the editable div. This is copy from regular Bootstrap v4.
                                                        Warning! "overflow: hidden" on wrapper element may destroy box-shadow effect.
                                                      */
        border-radius: 0.25rem;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.umsg-suggestags-area
.umsg-suggestags-input-area {
        padding: 3px 5px; /* fixme! Please override if something will not work as expected! */

        text-align: left;
        height: auto;
        overflow-x: hidden; /* keep placeholder inside */
}

/* this is input line for new tags, that will be appended */
.umsg-suggestags-area
.umsg-suggestags-input-area
.umsg-suggestags-input {
        padding: 3px 5px; /* fixme! Please override if something will not work as expected! */
        padding-left: 5px !important; /* Important required to override horizontal padding. But let vertical padding to be overridden, if required. */
                          /* AK: originally "0 4px", but we need vertical padding equal to the padding for the block for entered tag. */
        border: 0;
        display: inline-block; /* AK: required for <div>-based input */
}

.umsg-suggestags-area
.umsg-suggestags-input-area:hover {
        cursor: text;
}

.umsg-suggestags-area
.umsg-suggestags-input-area
.umsg-suggestags-input:focus {
        outline: 0;
}

.form-control.umsg-focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.form-control.umsg-focus-light {
        border-color: #cacaca;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(189, 189, 189, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(189, 189, 189, 0.6);
}

.umsg-suggestags-area
.umsg-suggestags-label {
        cursor: pointer;
}

.umsg-toggle-suggestags {
        float: right;
        cursor: pointer;
}

.umsg-suggestags-area
.umsg-suggestags-list {
        display: none;
        position: absolute;
        background: white;
        border: 1px solid #dedede;
        z-index: 999;/*1;*/
        /* min-width: 200px; // AK: I decided that optimal minimum width can be sensitive to the kind of suggested items. I would better make this an option in JS code. */
}

.umsg-suggestags-area
.umsg-suggestags-list
ul.umsg-list {
        list-style: none;
        padding: 3px 0;
        margin: 0; /* AK: bootstrap adding 1em margin to the bottom of <UL>, but we don't need it here. */
        max-height: 12.3rem; /* !!! Feel free to increase !!! 150px works great too! */
        overflow-y: auto;
}

.umsg-suggestags-area
.umsg-suggestags-list
ul.umsg-list
li.umsg-list-item {
        text-align: left;
        cursor: pointer;
        padding: 0 10px;
}

.form-control + .umsg-suggestags-area
.umsg-suggestags-list
ul.umsg-list
li.umsg-list-item:sel {
        background: #717171;
        color: white;
        -moz-box-shadow:    inset 0 0 10px #000;
        -webkit-box-shadow: inset 0 0 10px #000;
        box-shadow:         inset 0 0 10px #000;
}

.umsg-suggestags-area
.umsg-suggestags-list
ul.umsg-list
li.umsg-list-group {
        text-align: left;
        padding: 0 10px;
        font-weight: bold;
}

.umsg-suggestags-area
.umsg-suggestags-list
ul.umsg-list
li.umsg-item-pad {
         padding-left: 30px;
}

.umsg-suggestags-area
.umsg-suggestags-list
ul.umsg-list
li.umsg-item-noresult {
        display: none;
        color: #ff6060;
        font-weight: bold;
        text-align: center;
}

.umsg-suggestags-area
.umsg-suggestags-list
.umsg-select-input {
        display: none;
}

.umsg-suggestags-area
.umsg-suggestags-list
ul.umsg-list
li.sel {
        background: #d9d8d8;
}

.umsg-suggestags-area
.umsg-suggestags-list
ul.umsg-list
li.umsg-item-pad.sel {
        font-weight: normal;
}

/*
.umsg-suggestags-area
.umsg-suggestags-input-area {
        min-height: 40px; // set it for empty input box to avoid jumps/shifts when start typing
}
 */

/* written tag */
.umsg-suggestags-input-area
.umsg-select-tag {
        cursor: default;
        padding: 5px 7px;
        margin: 1px 4px 2px 0; /* +2 for multiline tags. But make inputArea 2px less in JS */
        -webkit-border-radius: 5px; /* originally 2px */
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
}

.umsg-suggestags-input-area
.umsg-select-tag.umsg-col-bg {
        background: #d8d8d8;
        color: black;
	line-height: 1;
}

/*.umsg-suggestags-input-area
.umsg-select-tag:hover {
        background: #737373;
        color: white;
}*/

.umsg-suggestags-input-area
.disabled.umsg-select-tag {
        background: #eaeaea;
        color: #b9b9b9;
	line-height: 1;
        pointer-events: none;
}

/* flash color (to draw user attention to some added/changed element). Playground: https://jsfiddle.net/utilmind/fc8j01yu/ */
@-webkit-keyframes flash-umsg {
    30% { background-color: #f57f7f; }
}
@keyframes flash-umsg {
    30% { background-color: #f57f7f; }
}

.umsg-suggestags-input-area
.flash.umsg-select-tag {
	-webkit-animation: flash-umsg 1s 1 linear;
	animation: flash-umsg 1s 1 linear;
}

@media (prefers-reduced-motion: reduce) {
	.umsg-suggestags-input-area
	.flash.umsg-select-tag {
        	-webkit-animation: flash-umsg .3s 1 linear;
		animation: flash-umsg .3s 1 linear;
        }
}


.umsg-suggestags-input-area
.umsg-remove-tag {
        cursor: pointer;
}

.umsg-no-suggestion {
        display: none;
        opacity: 0.7;
}


/* ...and little "canonical" customization for color scheme.
   Add .umsg-light class into <input> for "light" background.
  */
.umsg-suggestags-input-area.umsg-light
.umsg-select-tag.umsg-col-bg {
        background: #eee;
}
.umsg-light
.umsg-remove-tag {
        color: #999;
}
